.data-table {
    width: 80%;
    margin: 20px auto;
    @media only screen and (max-width: 500px) {
        width: 100%;
    }
}

.full-width-table {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.sample-container {
    position: relative;
    cursor: pointer;
}

.color-sample {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-12px);
    right: 5%;
    border-radius: 50%;
}

.data-table td {
    @media only screen and (max-width: 500px) {
        font-size: 0.7rem;
    }
}