<div class="card-background">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{ colorInfo.name }}</mat-card-title>
            <mat-card-subtitle class="text-color">{{ colorInfo.code }}</mat-card-subtitle>
            <span (click)="closeColorCard()" class="close-card">&times;</span>
        </mat-card-header>
        <div class="color-field" [ngStyle]="{'background-color':colorInfo.color}"></div>
        <mat-card-content>
            <p>{{ colorInfo.info }} lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas pariatur magnam sequi dolores commodi cumque!</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="goToPayment()">Buy now</button>
        </mat-card-actions>
    </mat-card>
</div>