<div class="card-background">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{ colorInfo.name }}</mat-card-title>
            <mat-card-subtitle class="text-color">{{ colorInfo.code }}</mat-card-subtitle>
            <span (click)="closeColorCard()" class="close-card">&times;</span>
        </mat-card-header>
        <div class="color-field" [ngStyle]="{'background-color':colorInfo.color}"></div>
        <mat-card-content>
            <p>{{ colorInfo.info }} lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quas pariatur magnam sequi dolores commodi cumque!</p>
        </mat-card-content>
        <div class="price-area">
            <form>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput [(ngModel)]="value" type="number" name="quantity" #quantity="ngModel" min="1" (ngModelChange)="totalCalc()">
                </mat-form-field>
            </form>
            <p class="total">Total <span class="price">{{ total }} €</span></p>
        </div>
        <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="goToPayment()">Buy now</button>
        </mat-card-actions>
    </mat-card>
    <div class="dynamic-bkg" [ngStyle]="{'background-color':colorInfo.color}"></div>
</div>
