<div *ngIf="congrats" class="congrats">
    Congrats for your purchase!
</div>
<div class="title-container" *ngIf="!(isHandset$ | async) && !congrats">
    <h1>Wellcome to the payment process</h1>
    <span (click)="closeStepper()" class="close-stepper">&times;</span>
</div>
<!-- When using a single form for the stepper, matStepperPrevious and matStepperNext have to be set to type="button" in order to prevent submission of the form before all steps are completed. -->
<form [formGroup]="payForm" *ngIf="!(isHandset$ | async) && !congrats">
    Value: {{ payForm.value | json }}
    <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
            <ng-template matStepLabel>Name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="nameFormCtrl" required>
                <mat-error *ngIf="formArray.get([0]).invalid && formArray.get([0]).touched">
                    Enter at least 2 characters
                </mat-error>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray.get([1])" label="Address">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="addressFormCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray.get([2])" label="Credit card number">
            <mat-form-field>
                <mat-label>Credit card number</mat-label>
                <input matInput formControlName="cardNumFormCtrl" placeholder="Credit card number" required>
                <mat-error *ngIf="formArray.get([2]).invalid && formArray.get([2]).touched">
                    Enter a 16 digits number
                </mat-error>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Payment</ng-template>
            <p class="advise-text">You will be charge right after pressing the payment button.</p>
            <div class="buttons-container">
                <button mat-stroked-button matStepperPrevious color="primary" type="button">Back</button>
                <button mat-raised-button color="warn" type="button" (click)="letChargeSomeMoney()">Payment</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>
<!--////////////////////////////////////////////////////////////////////////////////  -->
<div class="title-container title-container__handset" *ngIf="(isHandset$ | async) && !congrats">
    <span (click)="closeStepper()" class="close-stepper close-stepper__handset">&times;</span>
    <h3 class="handset-title">Wellcome to the payment process</h3>
</div>
<form [formGroup]="payForm" *ngIf="(isHandset$ | async) && !congrats">
    <mat-vertical-stepper formArrayName="formArray" linear #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
            <ng-template matStepLabel>Name</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="nameFormCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="1" [stepControl]="formArray.get([1])" label="Address">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="addressFormCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step formGroupName="2" [stepControl]="formArray.get([2])" label="Credit card number">
            <mat-form-field>
                <mat-label>Credit card number</mat-label>
                <input matInput formControlName="cardNumFormCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious type="button">Back</button>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Payment</ng-template>
            <p class="advise-text advise-text__handset">You will be charge right after pressing the payment button.</p>
            <div class="buttons-container buttons-container__handset">
                <button mat-stroked-button color="primary" matStepperPrevious type="button">Back</button>
                <button mat-raised-button color="warn" type="button" (click)="letChargeSomeMoney()">Payment</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</form>
