.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #880e4f;
}

.hidden {
    display: none;
}

.spacer {
    flex: 1 1 auto;
}

.no-handset-links {
    a {
        margin-right: 2em;
        color: #880e4f;
        text-decoration: none;
    }
}

.button-container {
    width: inherit; //hereda el ancho del componente de material dentro del que está
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and (max-width: 768px) {
        height: 300px;
        flex-direction: column;
        align-content: center;
    }
}
