.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    //color: #880e4f;
}

.hidden {
    display: none;
}

.spacer {
    flex: 1 1 auto;
}

.no-handset-links {
    a {
        margin-right: 2em;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }
}

.hero {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    background-image: url('./../../assets/images/a-row-of-oil-paint-tubes-93192549-58178e3b3df78cc2e8f73a96.jpg');
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 100% 100%;
    &__handset {
        height: 40%;
        background-size: 100% 80%;
    }
}

.pointer {
    cursor: pointer;
}
