.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    //color: #880e4f;
}

.hidden {
    display: none;
}

.spacer {
    flex: 1 1 auto;
}

.no-handset-links {
    a {
        margin-right: 2em;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }
}
