<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="mat-toolbar" color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Log in</a>
            <a mat-list-item href="#">Sign up</a>
            <a mat-list-item href="#">Contact</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>John Doe</span>
            <mat-icon>palette</mat-icon>
            <span>Oil colors</span>
            <span class="spacer"></span>
            <div *ngIf="!(isHandset$ | async)" class="no-handset-links">
                <a href="#">Log in</a>
                <a href="#">Sign up</a>
                <a href="#">Contact</a>
            </div>
        </mat-toolbar>
        <div *ngIf="!showStepper" class="hero" [ngClass]="{hero__handset: (isHandset$ | async)}"></div>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
