@import '~@angular/material/theming';
@include mat-core();
$pablo-primary: mat-palette($mat-light-green, A100, 700);
$pablo-accent: mat-palette($mat-pink, A200);
$pablo-warn: mat-palette($mat-deep-orange, 600);
$pablo-theme: mat-light-theme($pablo-primary, $pablo-accent, $pablo-warn);
@include angular-material-theme($pablo-theme);
@function pablo-light-theme-foreground($color) {
    @return ( base: $color, divider: $black-12-opacity, dividers: $black-12-opacity, disabled: rgba($color, 0.38), disabled-button: rgba($color, 0.38), disabled-text: rgba($color, 0.38), hint-text: rgba($color, 0.38), secondary-text: rgba($color, 0.54), icon: rgba($color, 0.54), icons: rgba($color, 0.54), text: rgba($color, 0.87), slider-min: rgba($color, 0.87), slider-off: rgba($color, 0.26), slider-off-active: rgba($color, 0.38), );
}

;
$white-foreground: pablo-light-theme-foreground(#1b5e20);
$my-app-theme-custom: map-merge($pablo-theme, (foreground: $white-foreground));
@include angular-material-theme($my-app-theme-custom);
//TODO custom typography
